   <div class="index_left_bar grey">


        <div class="left_bar_links">
            <div>
                <div>Img</div>
                <div><%=current_user.full_name%></div>
            </div>
            <div>
                <div>
                    <%=image_tag "friends.png", class:"index_friends_img logo"%>
                </div>
                <div>
                    Friends
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "groups.png", class:"index_groups_img logo"%>
                </div>
                <div>
                    Groups
                </div>
            </div>
            
            <div>
                <div>
                    <%=image_tag "marketplace.png", class:"index_marketplace_img logo"%>
                </div>
                <div>
                    Marketplace
                </div>
            </div>
            <<div>
                <div>
                    <%=image_tag "watch.png", class:"index_watch_img logo"%>
                </div>
                <div>
                    Watch
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "memories.png", class:"index_memories_img logo"%>
                </div>
                <div>
                    Memories
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "saved.png", class:"index_saved_img logo"%>
                </div>
                <div>
                    Saved
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "pages.png", class:"index_pages_img logo"%>
                </div>
                <div>
                    Pages
                </div>
            </div>
            <div>See more</div>
        </div>
        <div class="index_your_shortcuts">
            <div>Your shortcuts</div>
            <div>
                <div>
                    <%=image_tag "game3.png", class:"index_game1_img logo"%>
                </div>
                <div>
                    Pool
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "game2.png", class:"index_game2_img logo"%>
                </div>
                <div>
                    Pirates
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "game4.png", class:"index_game3_img logo"%>
                </div>
                <div>
                    Poker
                </div>
            </div>
        </div>
       </div>