<div class="index_central_posts_container grey">

            <div class="new_post_form_container homepage">
                <div class="post_edit_frame">
                    <div class="new_post_search">
                        <%= link_to "What's on your mind, #{@user_first_name}?", new_post_path %>
                    </div>
                </div>
            </div>

            <div class="index_posts">
                    <%@timeline_posts.each do |post|%>
                    <%=turbo_frame_tag post do %>
                    <div class="index_post_container">
                        <div class="index_post_name">
                            <%= post.user.full_name%>
                        </div>
                        <div class="index_post_info">
                            <%= post.information%>
                        </div>
                        <div class="index_post_edit">
                            <%if post.user.id == current_user.id%>
                            <%=link_to "Edit Post", edit_post_path(post)%>    
                            <%end%>
                        </div>

                        <div class="like_count">
                            <%if post.likes%>
                                <%=post.likes.count()%> <%if post.likes.count()==1%>like <%else%> likes <%end%>
                            <%end%>
                        </div>

                        <div class="post_like">
                            <%=form_with model: @like, data:{turbo:false} do |f|%>
                            <%=f.hidden_field :user_id, value:current_user.id%>
                            <%=f.hidden_field :post_id, value:post.id%>
                            <%=f.submit "Like"%>
                            <%end%>
                        </div>

                        <div class="post_comment_container">

                            <div class="post_list_comments">
                                <%post.comments.each do |comment|%>
                                <div class="individual_comment">
                                <div class="commenter_name">
                                    <%=comment.commenter.full_name%>
                                </div>
                                <div class="commenter_info">
                                    <%=comment.information%>
                                </div>
                                </div>
                                <%end%>

                            </div>






                            <%=form_with model: @comment, data:{turbo:false} do |f|%>
                            <div class="write_comment_container">
                            <%=f.hidden_field :post_id, value:post.id%>
                            <%=f.hidden_field :commenter_id, value:current_user.id%>
                            <%=f.text_field :information, placeholder:"Write a comment..."%>
                            <%=f.submit "post"%>
                            </div>
                            <%end%>
                        </div>



                    </div>
                    <%end%>
                    <%end%>
            </div>

</div>
