<div class="index_central_posts_container grey">

            <div class="new_post_form_container homepage">
                <div class="post_edit_frame">
                    <div class="new_post_search">
                        <%= link_to "What's on your mind, #{@user_first_name}?", new_post_path %>
                    </div>
                </div>
            </div>

            <div class="index_posts">
                    <%@timeline_posts.each do |post|%>
                    <%=turbo_frame_tag post do %>
                    <div class="index_post_container">
                        <div class="index_post_name">
                            <%= post.user.full_name%>
                        </div>
                        <div class="index_post_info">
                            <%= post.information%>
                        </div>
                        <div class="index_post_edit">
                            <%if post.user.id == current_user.id%>
                            <%=link_to "Edit Post", edit_post_path(post)%>    
                            <%end%>
                        </div>

                        <div class="like_count">
                        <%=post.likes.count()%> <%if post.likes.count()==1%>like <%else%> likes <%end%>
                        </div>

                        <div class="post_like">
                        <%=form_with model: @like, data:{turbo:false} do |f|%>
                        <%=f.hidden_field :user_id, value:current_user.id%>
                        <%=f.hidden_field :post_id, value:post.id%>
                        <%=f.submit "Like"%>
                        <%end%>
                        </div>





                    </div>
                    <%end%>
                    <%end%>
            </div>

</div>
