    
 <div class="index_container">   
    <div class="index_top_bar_container">
        <%if user_signed_in? == false%>
        <%= link_to "Sign in", new_user_session_path%>
        <%= link_to "Create New Account", new_user_registration_path%>
        <%else%>
          <div class="name_search">
            <div>Search for a user</div> 
            <%=form_with model: @user, method: :get, data:{turbo:false} do |form|%>
            <%# <%=form.label :full_name, "Full Name"%>
            <%=form.text_field :full_name, placeholder: "Full name"%>
            <%=form.submit "Search"%>
            <%end%>
        </div>
                <%=button_to('Logout', destroy_user_session_path, :method => :delete)%>

        <%end%>
      
    </div>
    <div class="index_main_page_container">
       
       <div class="index_left_bar grey">
        <div class="left_bar_links">
            <div>
                <div>Img</div>
                <div><%=current_user.full_name%></div>
            </div>
            <div>
                <div>
                    <%=image_tag "friends.png", class:"index_friends_img logo"%>
                </div>
                <div>
                    Friends
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "groups.png", class:"index_groups_img logo"%>
                </div>
                <div>
                    Groups
                </div>
            </div>
            
            <div>
                <div>
                    <%=image_tag "marketplace.png", class:"index_marketplace_img logo"%>
                </div>
                <div>
                    Marketplace
                </div>
            </div>
            <<div>
                <div>
                    <%=image_tag "watch.png", class:"index_watch_img logo"%>
                </div>
                <div>
                    Watch
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "memories.png", class:"index_memories_img logo"%>
                </div>
                <div>
                    Memories
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "saved.png", class:"index_saved_img logo"%>
                </div>
                <div>
                    Saved
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "pages.png", class:"index_pages_img logo"%>
                </div>
                <div>
                    Pages
                </div>
            </div>
            <div>See more</div>
        </div>
        <div class="index_your_shortcuts">
            <div>Your shortcuts</div>
            <div>
                <div>
                    <%=image_tag "game3.png", class:"index_game1_img logo"%>
                </div>
                <div>
                    Pool
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "game2.png", class:"index_game2_img logo"%>
                </div>
                <div>
                    Pirates
                </div>
            </div>
            <div>
                <div>
                    <%=image_tag "game4.png", class:"index_game3_img logo"%>
                </div>
                <div>
                    Poker
                </div>
            </div>
        </div>
       </div>

        <%# <div class="index_users_found grey">

        <%# <%if @users_found%>
                <%# Users Found: %>
            <%# <%=@users_found.each do |user|%> 
            <%# <%= user.full_name%> 
            <%# <%=link_to "View Profile", user_path(user), id: user.id%>
            <%# <%end%> 
        <%# <%end%> 

        <%# </div>  %>
        
        <div class="index_central_posts_container grey">

            <%=turbo_frame_tag "post" do %>
            <div class="index_posts">
                    Posts:
                    <div class="index_post">Hi</div>
                    
            </div>
            <%end%>

        </div>

        <div class="index_right_friends_bar grey">

            <div class="index_friend_requests">
                Friend Requests:
                <%if current_user.pending_friend_requests.empty?%>
                No new friend Requests
                <%else%>
                    <%current_user.pending_friend_requests.each do |friend_request|%>
                    <%=friend_request.sent_from.full_name%>
                    
                    <%=form_with model:@friendship, data:{turbo:false} do |f|%>
                    <%=f.hidden_field :friend_one_id, value: friend_request.sent_from.id %> 
                    <%=f.hidden_field :friend_two_id, value:current_user.id%> 
                    <%=f.submit "Accept Friend Request"%> 
                    <%end%>

                    <%end%>
                <%end%>

            </div>

            <div class="index_friends">

                <div class="index_pending_friends">
                    Pending friends:
                    <%if current_user.fr_sent.empty?%>
                    No friend requests awaiting response 

                    <%else%>
                        <%current_user.fr_sent.each do |fr|%>
                        <div class="index_pending_request">
                            <div class="index_pending_request_logo">LOGO</div>
                            <div class="index_pending_request_name"><%=fr.sent_to.full_name%></div>
                        </div>
                        <%end%>
                    <%end%>
                </div>

                <div class="index_friends_list">
                Friends:
                <%current_user.friends_as_one.each do |friend|%>
                <div class="index_current_friends_container">
                <div class="index_current_friends_logo">LOGO</div>
                <div class="index_current_friends_name"><%=friend.full_name%> </div>
                <%end%>
                </div>
            </div>
        </div>
    </div>
</div>