    
 <div class="index_container">   
   
    <div class="index_main_page_container">
       
        <%=render "users/index_left_bar"%>

        <%# <div class="index_users_found grey">

        <%# <%if @users_found%>
                <%# Users Found: %>
            <%# <%=@users_found.each do |user|%> 
            <%# <%= user.full_name%> 
            <%# <%=link_to "View Profile", user_path(user), id: user.id%>
            <%# <%end%> 
        <%# <%end%> 

        <%# </div>  %>
        
        <%= render "users/timeline"%>
        
        
        <%= render "/users/users_friends_bar"%>
            
    </div>
</div>