<div class="user_show_background">

    <div class="profile_background">
        <%=image_tag "profile_background_2"%>
    </div>
    <div>
</div>
<div class="user_show_header">
    <div>
        <div class="user_avatar">
            <%= image_tag @user.gravatar_url default: @default_user.gravatar_url%>
        </div>
        <div class="name_and_friends">
            <div class="show_user_name">
                <%=@user.full_name%>
            </div>
            <div class="show_user_friends">
                <%=@user.friends_as_one.count()%> <%if @user.friends_as_one.count()==1%> friend <%else%> friends <%end%>
            </div>
        </div>
    </div>
    <div class="add_friend_form">
        <div class="add_friend_button">
        <div class="add_friend_logo"> 
            <%=image_tag "add_friends.png"%>
        </div>
        <%=form_with model:@friend_request, data:{turbo:false} do |f|%>
        <%=f.hidden_field :sent_to_id, :value => @user.id%>
        <%=f.hidden_field :sent_from_id, :value => current_user.id %>
        <%=f.submit "Add Friend"%>
        <%end%>
        </div>
    </div>

</div>
<div class = "users_show_body_container">
    <div class="users_show_left">
    <div><%=render "intro"%></div>
    <div><%=render "photos"%></div>
    <div><%=render "friends"%></div>
    </div>
    <div class="users_show_right">
        <div class="posts_title">Posts</div>
        <div><%=render "post"%></div>
    </div>
</div>


